[Unit]
Description=Scrobller watch status to anilist when jellyfin calls this webhook
#Requires=opt-anilistscrobbler.mount

[Service]
Environment='ANILISTWATCHED_CONFIG=/opt/anilist-scrobbler/etc/config.toml'
ExecStart=/opt/anilistscrobbler/bin/anilist-scrobbler webhook
User=jellyfin
#DynamicUser=yes
PrivateTmp=true
SyslogIdentifier=jellyfin-webhook-anilist-scrobbler
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
